* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    width: 900px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name {
    font-size: 250%;
    font-weight: bolder;
    color:rgb(74, 49, 101);
    margin-bottom: 1em;
    display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
font-size: 150%;
font-weight: bolder;
color:rgba(0, 0, 0, 0.719);
display: flex;
align-items: center;
justify-content: center;}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contacts {
    display: flex;
    width: 1000px;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    margin: 0 -5px;
}

.contact_email {
    color: rgb(74, 0, 109);
    margin: 0 50px;
    margin-left: 6px;
}

.contact_phone {
    color: rgb(74, 0, 109);
    margin: 0 50px;
    margin-left: 6px;
}

h3 {
    color:rgba(61, 8, 110, 0.882);
    font-size: large;
    font-weight: 600;
    }

.experience_date_1 {
    margin-bottom: 10px;
}

.experience_date_2 {
    margin-bottom: 10px;
    margin-top: 30px;
}

.experience_name {
    color:rgb(11, 11, 150);
    font-weight: bolder;
}

.experience_company {
    font-weight: bold; 
    margin-top: 10px;
}